<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spread</title>
    <link rel="stylesheet" href="style/menu.css"></style>
    <link rel="stylesheet" href="style/footer.css"></style>
    <link rel="stylesheet" href="style/variables.css"></style>
    <link rel="stylesheet" href="style/contact.css"></style>
    <link rel="stylesheet" href="style/audioplayer.css"></style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="plugins/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" href="plugins/slick-1.8.1/slick/slick-theme.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <nav class="menuPrincipal">
        <ul class="menuPrincipal-ul">
            <li class="menuPrincipal-item"><span><a href="./index.html">home</a></span></li>
                
                <li class="menuPrincipal-item"><span>products <i class="material-icons">keyboard_arrow_down</i></span>
                    
                    <ul class="menuPrincipal-itemDropDown">
                        <li class="menuPrincipal-itemDropDownItem">#spreadvideo</li>
                        <li class="menuPrincipal-itemDropDownItem">#spreadgames</li>
                        <li class="menuPrincipal-itemDropDownItem">#spreadmusic</li>
                        <li class="menuPrincipal-itemDropDownItem">#spreadhistories</li>
                        <li class="menuPrincipal-itemDropDownItem">#spreadlive</li>
                    </ul>
                    
                </li>
                
            </li>
            <li class="menuPrincipal-item"><span id="home-icone-span"><a href="./index.html"><img src="images/home.png" alt="Home Ícone" class="home-icone"></a></span></li>
            <li class="menuPrincipal-item"><span>history</span></li>
            <li class="menuPrincipal-item"><span><a href="./contact.html">contact</a></span></li>
        </ul>
        <div class="pitchbarServicesBanner">
            <div class="pitchBarServices"><i class="material-icons">videogame_asset</i>Games for having fun!</div>
            <div class="pitchBarServices"><i class="material-icons">audiotrack</i>Nice music to hear!</div>
            <div class="pitchBarServices"><i class="material-icons">ondemand_video</i> Videos for sharing ideas!</div>
            <div class="pitchBarServices"><i class="material-icons">text_format</i> Histories to dive in!</div>
            <div class="pitchBarServices"><i class="material-icons">textsms</i> People to hang out!</div>
        </div>
    </nav>
    <section class="formularioContato">
        <h1 class="contatoTitle">
            Central de Atendimento
        </h1>
        <form action="https://api.staticforms.xyz/submit" method="post" class="contact">
            <input type="hidden" name="accessKey" value="{{accessKey}}">
            <fieldset class="grupoNome">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" placeholder="Digite seu nome" class="formNome" required>
            </fieldset>
            <fieldset class="grupoEmail">            
                <label for="email">E-mail:</label>
                <input type="text" name="email" placeholder="Digite seu email" class="formEmail" required>
            </fieldset>        
            <fieldset class="grupoCidadeEstado">                
                <label for="cidade">Cidade:</label>
                <label for="estado">Estado:</label>                
                <input type="text" name="$Cidade" placeholder="Digite sua cidade" class="formCidade" required>           
                <select id="estado" name="$Estado" class="formEstado" required>
                    <option value="" disabled selected>Selecione</option>
                    <option value="AC">Acre</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                    <option value="EX">Estrangeiro</option>
                </select>
            </fieldset>
            <fieldset class="grupoAssunto">            
                <label for="assunto">Assunto:</label>
                <input type="text" name="subject" placeholder="Digite o assunto" class="formAssunto" required>
            </fieldset>
            <fieldset class="grupoMensagem">
                <label for="nome">Mensagem:</label>
                <textarea type="text" name="message" placeholder="Digite sua mensagem" class="formMensagem">
                </textarea>
            </fieldset>
            <fieldset class="buttonEnviar">
                <button type="submit" class="buttonEnviarBtn">Enviar</button>
            </fieldset>
        </form>
    </section>
    <footer>
        
        <div class="colorsFooter">
            <div class="colorsFooterBabyBlue"></div>
            <div class="colorsFooterRed"></div>
            
        </div>
        
        <div class="boxFooter">
            <div class="boxFooterColuna">
                <ul class="boxFooterColunaList">
                    <li class="boxFooterColunaListTitle">Redes Sociais</li>
                    <li class="boxFooterColunaListItem">Instagram</li>
                    <li class="boxFooterColunaListItem">Whatsapp</li>
                    <li class="boxFooterColunaListItem">Facebook</li>
                    <li class="boxFooterColunaListItem">Tik Tok</li>
                    <li class="boxFooterColunaListItem">Telegram</li>
                </ul>
            </div>
            <div class="boxFooterColuna">
                <ul class="boxFooterColunaList">
                    <li class="boxFooterColunaListTitle">Top trendings</li>
                    <li class="boxFooterColunaListItem">Curso de produção</li>
                    <li class="boxFooterColunaListItem">Curso de música</li>
                    <li class="boxFooterColunaListItem">Como criar produções impactantes</li>
                    <li class="boxFooterColunaListItem">Como gerar leads no Tiktok</li>
                    <li class="boxFooterColunaListItem">Como desenvolver uma equipe competitiva</li>
                </ul>
            </div>
            <div class="boxFooterColuna">
                <ul class="boxFooterColunaList">
                    <li class="boxFooterColunaListTitle">Institucional</li>
                    <li class="boxFooterColunaListItem">Quem somos</li>
                    <li class="boxFooterColunaListItem">Carreiras</li>
                    <li class="boxFooterColunaListItem">Direitos autorais</li>
                    <li class="boxFooterColunaListItem">Nossas lojas</li>
                    <li class="boxFooterColunaListItem">Seja um parceiro</li>
                </ul>
            </div>
        </div>
        
        <div class="footerDedicatoria">
            <p class="footerDedicatoriaFrase">
                Feito com <span class="heartDedicatoria">♥</span> por Douglas Oliveira Paschoal
            </p>
        </div>
        
        <script src="plugins/jquery-3.6.0.min.js"></script>
        <script src="plugins/slick-1.8.1/slick/slick.min.js"></script>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
    </footer>
</body>
</html>