.formularioContato {
    width: 45em;
    margin: 0 auto;
    margin-top: 2em;
}

.contatoTitle {
    font-family: 'Oswald', sans-serif; 
    text-align: center;
    font-weight: 700;
    color: var(--red);
    font-size: 35px;
}

.contact > fieldset > input::-webkit-input-placeholder {
  font-family: 'Oswald', sans-serif; 
}

.contact > fieldset > input:-ms-input-placeholder {
  font-family: 'Oswald', sans-serif; 
}

.contact > fieldset > input:-moz-placeholder {
  font-family: 'Oswald', sans-serif; 
}

.contact > fieldset > input::-moz-placeholder {
  font-family: 'Oswald', sans-serif; 
}

.contact {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
}

.contact > fieldset{
    display: grid;
    width: 100%;
    margin-bottom: 1em;
    border: none;
    align-items: center;
} 

.contact > fieldset.grupoCidadeEstado{
    display: grid;
    grid-template-columns: 80% 15%;
    margin-bottom: 1em;
    column-gap: 5%;
    border: none;
    align-items: center;
} 

.contact > fieldset > label {
    font-weight: 600;
    color: var(--gunmetal);
    font-size: 16px;
}

.contact > fieldset > input, .contact > fieldset > select, .contact > fieldset > textarea{
    height: 30px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    padding: 3px;
    border-radius: 5px;
}

.grupoMensagem > .formMensagem {
    height: 80px;
}

.buttonEnviar {
    justify-items: end;
}

.buttonEnviarBtn {
    width: 8em;
    height: 3em;
    background-color: var(--white);
    border: 2px solid var(--red);
    color: var(--red);
    font-family: 'Oswald', sans-serif; 
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s;
}

.buttonEnviarBtn:hover {
    background-color: var(--red);
    color: var(--white);
    transition: all 0.5s;
} 