.boxFooter {
    display: flex;
    max-width: 68em;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 100;
    color: var(--white);
    padding: 2em;
}

.boxFooterColunaListTitle {
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--red);
}

.boxFooterColuna {
    display: flex;
    justify-content: center;
    width: 30%;
}

.boxFooterColuna ul {
    list-style-type: none;
}

.colorsFooter div {
    height: 8px;
    width: 100%;
}

.colorsFooterBabyBlue {
    background-color: var(--baby-blue);
}

.colorsFooterGray {
    background-color: var(--gray);
}

.colorsFooterRed {
    background-color: var(--red);
}

.footerDedicatoriaFrase {
    width: 30em;
    margin: 0 auto;
    text-align: center;
    color: var(--white);
    margin-top: 15px;
    padding: 1em;
    border-top: 1px solid #1d2126;
}

.boxFooterColunaListItem {
    cursor: pointer;
}

.heartDedicatoria {
    color: var(--red);
}

footer {
    background-color: var(--gunmetal);
    margin-top: 1em;
    font-family: 'Oswald', sans-serif;
}