.boasVindasBanner {
    font-family: 'Oswald', sans-serif;
}

.text-boasVindas {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 395px;
    top: 10rem;
    font-size: 8rem;
    color: var(--dark-gunmetal);
    font-weight: 100;
}

.subtext-boasVindas {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 310px;
    top: 20rem;
    font-size: 1.80rem;
    color: var(--gunmetal);
    font-weight: 100;
}

.presentationSection {
    width: 70em;
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Oswald', sans-serif;
}

.headerTitle {
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    color: var(--gray);
    font-weight: 100;
}

.slidesOpcoesComecar {
    width: 50px;
    margin: 0 auto;
}

.opcaoGameBox, .opcaoMusicBox , .opcaoVideoBox{
    border-left: 8px solid var(--red);
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "description conteudo";
}

.opcaoMusicBox {
    border-left: 8px solid var(--gunmetal);
}

.opcaoVideoBox {
    border-left: 8px solid var(--gray);
}

.optionDescription {
    grid-area: description;
    padding: 0 2em;
}

.optionContent {
    grid-area: conteudo;
}

.opcaoGameDescriptionTitle, .opcaoMusicDescriptionTitle , .opcaoVideoDescriptionTitle{
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--red);
}

.opcaoMusicDescriptionTitle {
    color: var(--gunmetal);
}

.opcaoVideoDescriptionTitle {
    color: var(--gray);
}


.opcaoGameDescriptionDownload, .opcaoMusicDescriptionDownload , .opcaoVideoDescriptionDownload{
    margin-top: 20px;
    font-size: 13px;
}

.opcaoGameDescriptionDownload{
    color: var(--red);
}

.opcaoMusicDescriptionDownload {
    color: var(--gunmetal);
}

.opcaoVideoDescriptionDownload {
    color: #555555;
}

.opcaoGameDescriptionDownloadButton, .opcaoMusicDescriptionDownloadButton , .opcaoVideoDescriptionDownloadButton{
    height: 2.2em;
    width: 7em;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: var(--white);
    margin-top: 3px;
    cursor: pointer;
}

.opcaoGameDescriptionDownloadButton {
    border: 3px solid var(--red);
    color: var(--red);
    transition: all 0.3s ease-in;
}

.opcaoGameDescriptionDownloadButton:hover {
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s ease-in;
}

.opcaoMusicDescriptionDownloadButton {
    border: 3px solid var(--gunmetal);
    color: var(--gunmetal);
}

.opcaoVideoDescriptionDownloadButton {
    border: 3px solid #555555;
    color: #555555;
    transition: all 0.3s ease-in;
}

.opcaoVideoDescriptionDownloadButton:hover {
    background-color: #555555;
    color: var(--white);
    transition: all 0.3s ease-in;
}

.opcaoGameDescriptionDownloadButton, .opcaoMusicDescriptionDownloadButton i , .opcaoVideoDescriptionDownloadButton{
    vertical-align: middle;
    font-variant: normal;
    font-size: 30px;
}

.opcaoGameDescription, .opcaoMusicDescription , .opcaoVideoDescription{
    display: flex;
    align-items: center;
}

.optionContentImageGame {
    width: 100%;
}

.opcaoGameContent, .opcaoMusicContent , .opcaoVideoContent{
    padding: 0 2em;
}

.sliderOpcoesComecar .slick-arrow {
    position: absolute;
    top: 50%;
    font-family: 'slick';
    font-size: 20px;
}

.sliderOpcoesComecar .slick-prev::before {
    font-size: 40px;
    color: var(--gunmetal);
}

.sliderOpcoesComecar .slick-prev {
    left: -50px;
}

.sliderOpcoesComecar .slick-next {
    right: -5px;
}

.sliderOpcoesComecar .slick-next::before {
    font-size: 40px;
    right: 0px;
    color: var(--gunmetal);
}

.writerWannabe {
    background: rgb(146,220,229);
    background: linear-gradient(90deg, rgba(146,220,229,1) 31%, rgba(214,73,51,1) 62%);
}

.ourProducts {
    width: 72em;
    margin: 0 auto;
    margin-top: 2em;
}

.ourProductsSolutions {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25em;  
}

.ourProductsSolutions div{
    font-family: 'Oswald', sans-serif;
}

.ourProductsTitle {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: var(--gunmetal);
    font-size: 60px;
    font-weight: 500;
}
.ourProductsSubtitle {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: var(--gunmetal);
    font-weight: 100;
    font-size: 30px;
    margin-bottom: 1em;
}

.ourProductsSolutionsItem:nth-child(1) {
    background-color: var(--gunmetal);
    color: var(--white);
}

.ourProductsSolutionsItem:nth-child(2) {
    background-color: var(--baby-blue);
    color: var(--gunmetal);
}

.ourProductsSolutionsItem:nth-child(3) {
    background-color: var(--red);
    color: var(--white);
}

.ourProductsSolutionsItem:nth-child(4) {
    background-color: var(--gray);
    color: var(--white);   
}


.ourProductsSolutionsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.ourProductsSolutionsItem-Title {
    font-size: 40px;
    font-weight: 700;
}

.ourProductsSolutionsItem-Description {
    width: 60%;
    text-align: center;
}

.botaoConhecerMais {
    background-color: transparent;
    height: 3.5em;
    width: 10em;
    margin-top: 10px;
    cursor: pointer;
    font-style: 'Oswald', sans-serif;
}

.botaoConhecerMais#maisDetalhesVideo {
    color: #003470;
    border: 2px solid #003470;
}

.botaoConhecerMais#maisDetalhesMusic {
    color: #0e0d0d;
    border: 2px solid #0e0d0d;
}

.botaoConhecerMais#maisDetalhesGames {
    color: #971400;
    border: 2px solid #971400;
}

.botaoConhecerMais#maisDetalhesHistory {
    color: var(--gunmetal);
    border: 2px solid var(--gunmetal);
}
