* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
}

.menuPrincipal a {
    color: var(--gunmetal);
    text-decoration: none;
}

.menuPrincipal-ul {
    display: flex;
    list-style-type: none;
    height: 4rem;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: var(--white);
    justify-content: center;
}

.menuPrincipal-ul > li {
    min-width: 7rem;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    color: var(--gunmetal);
    cursor: pointer;
}

div.bannerPrincipal {
    height: 30rem;
    display: flex;
    flex: 1;
}

div.bannerPrincipal > div {
    height: 100%;
    width: 100%;
}

.singleColorBanner-gunmetal {
    background-color: var(--gunmetal);
}

.singleColorBanner-baby-blue {
    background-color: var(--baby-blue);
}

.singleColorBanner-white {
    background-color: #EEE5E9;
}

.singleColorBanner-gray {
    background-color: var(--gray);
}

.singleColorBanner-red {
    background-color: var(--red);
}

.home-icone {
    height: 35px;
    border: 1px solid var(--gunmetal);
    border-radius: 100px;
    padding: 5px;
}

span#home-icone-span {
    display: flex;
}

.pitchbarServicesBanner {
    display: flex;
    font-family: 'Oswald', sans-serif;
}

.pitchbarServicesBanner > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    color: var(--white);
    vertical-align: middle;
    background-color: var(--gunmetal);
}

.pitchBarServices i {
    margin-right: 5px;
}

.pitchbarServicesBanner.homePitchbar > div {
    background-color: var(--white);
    color: var(--gunmetal);
}

.menuPrincipal-item span {
    display: flex;
}

.menuPrincipal-item {
    position: relative;
}

.menuPrincipal-itemDropDown {
    transition: all 0.6s ease-in;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 4em;
    list-style-type: none;
    background-color: var(--white);
    width: 10em;
    z-index: 999;
}

.menuPrincipal-itemDropDownItem {
    height: 2.5em;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.menuPrincipal-item:hover > .menuPrincipal-itemDropDown {
    max-height: 500px;
    transition: all 0.6s ease-in;
}

.menuPrincipal-item > span > i.material-icons {
    transition: all 0.4s ease-in;
}

.menuPrincipal-item:hover > span > i.material-icons{
    transform: rotateZ(180deg);
    transition: all 0.4s ease-in;
}